{% extends layout('cart') %}

{% block content %}
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Shopping Cart</h1>
        </div>

        {{ form_open({'url': url_route('anomaly.module.carts::carts.update')}) }}
        {% if not cart.content.isEmpty() %}

            {% include "anomaly.module.carts::cart/partials/items" %}

            <hr>

            <button class="btn btn-primary">Update</button>

            <a href="{{ url_route('anomaly.module.carts::products.index') }}" class="btn btn-primary pull-right">
                Continue Shopping
            </a>

            <hr>

            <div class="text-right">

                <h4>
                    Sub-total: {{ currency_format(cart().subtotal) }}
                </h4>

                <br>
                <br>

                <a href="{{ url('checkout') }}" class="btn btn-primary">
                    Checkout
                </a>
            </div>

        {% else %}
            Your cart is empty! <a href="{{ url_route('anomaly.module.products::products.index') }}">
            Continue shopping.</a>
        {% endif %}
        {{ form_close() }}

    </div>
{% endblock %}
